<!DOCTYPE html>
<html>
  <head>
    <title>CancancanIssueExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 id="notice"><%= notice %></h2>
    <h2 id="alert"><%= alert %></h2>
    <% if user_signed_in? %>
      <h3>Currently logged in as <%= current_user.email %></h3>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
